
jobs_data.csv
jobs_data.csv.bak
__pycache__/defense_filters.cpython-312.pyc
__pycache__/context_menu.cpython-312.pyc
__pycache__/job_processor.cpython-312.pyc
__pycache__/queue_window.cpython-312.pyc
__pycache__/table_manager.cpython-312.pyc
__pycache__/ui_components.cpython-312.pyc
.vscode/extensions.json
jobs_data.csv
